<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Computer Science Graduate Student at
      <a class="underline-link" href="https://www.tamuk.edu" target="_blank"><strong>Texas A & M University - Kingsville</strong></a>. 
      I'm captivated by the world of Machine Learning and Artificial Intelligence.
    </p>

    <p>
      As a computer science student, I enjoy problem solving and building real time solutions. This website has all of my past work that I have 
      worked at different stages.
    </p>

    <p>
      Additionally, I'm facinated about buildng extensive Machine Learning modles that can be served in current world, as the Machine Learning space is new and is not completely explored.
      Also I'm a hands-on engineer and would love to build systems from scratch.
    </p>

    <p>
      When I'm not in front of a computer, I'm probably dancing to the music, going on a evening walk
      or hanging out with friends.
    </p>

  </div>
</section>
